{% extends "index_base.html" %}
{% block content %}

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor=white>

<!-- Top Table: Logo, title and buttons -->
<table border=0 width=100% cellspacing=0 cellpadding=0>
<tr>
  <td class=title1 align=center><b>Rack Information</b></td>
</tr>
</table>
<!-- End Top Table -->
<br>
<center>
<form method=post action="..">
<!--form method=post action="/idc/rack.php" -->
<p class=text1>Select one of the rows below to search<br>
If you choose more than one option, the top one will be executed.
</p>
<table border=0 cellspacing=0 cellpadding=4>
<tr><td colspan=2 class=text4 align=center><b>Get Rack Records...</b></td></tr>

<tr><td class=text3><b>Check Racks:</b></td>
    <td class=text3 align=left>
      <select name=showremarks class=elem1>
      <option value="" selected>Select Options ...</option>
          <option value=Available>Available</option>
    <option value=Planned>Planned</option>
    <option value=Reserved>Reserved</option>
    <option value=Used>Used</option>
 </select>
    </td></tr>

<tr><td class=text3><b>Search by Rack Location:</b></td>
    <td class=text3 align=left>
      <select name=showlocation class=elem1>
      <option value="" selected>Select Location ...</option>
          <option value=AA-03>AA-03</option>
    <option value=AA-04>AA-04</option>
    <option value=AA-05>AA-05</option>
    <option value=AA-06>AA-06</option>
    <option value=AA-07>AA-07</option>
    <option value=AA-08>AA-08</option>
    <option value=AA-09>AA-09</option>
    <option value=AA-10>AA-10</option>
    <option value=AA-11>AA-11</option>
    <option value=AA-12>AA-12</option>
    <option value=CA-02>CA-02</option>
    <option value=CA-03>CA-03</option>
    <option value=CA-04>CA-04</option>
    <option value=CA-05>CA-05</option>
    <option value=CA-06>CA-06</option>
    <option value=CB-01>CB-01</option>
    <option value=CB-02>CB-02</option>
    <option value=CB-03>CB-03</option>
    <option value=CB-04>CB-04</option>
    <option value=CB-05>CB-05</option>
    <option value=CB-06>CB-06</option>
    <option value=CC-01>CC-01</option>
    <option value=CC-02>CC-02</option>
    <option value=CC-03>CC-03</option>
    <option value=CC-04>CC-04</option>
    <option value=CC-05>CC-05</option>
    <option value=CC-06>CC-06</option>
    <option value=CD-01>CD-01</option>
    <option value=CD-02>CD-02</option>
    <option value=CD-03>CD-03</option>
    <option value=CD-04>CD-04</option>
    <option value=CD-05>CD-05</option>
    <option value=CD-06>CD-06</option>
    <option value=CE-01>CE-01</option>
    <option value=CE-06>CE-06</option>
    <option value=DA-01>DA-01</option>
    <option value=DA-02>DA-02</option>
    <option value=DA-03>DA-03</option>
    <option value=DA-04>DA-04</option>
    <option value=DA-05>DA-05</option>
    <option value=DA-06>DA-06</option>
    <option value=DA-07>DA-07</option>
    <option value=DA-08>DA-08</option>
    <option value=DA-09>DA-09</option>
    <option value=DA-10>DA-10</option>
    <option value=DA-11>DA-11</option>
    <option value=DA-12>DA-12</option>
    <option value=DA-13>DA-13</option>
    <option value=DA-14>DA-14</option>
    <option value=DA-15>DA-15</option>
    <option value=DA-16>DA-16</option>
    <option value=DA-17>DA-17</option>
    <option value=DA-18>DA-18</option>
    <option value=DA-19>DA-19</option>
    <option value=DB-01>DB-01</option>
    <option value=DB-02>DB-02</option>
    <option value=DB-03>DB-03</option>
    <option value=DB-04>DB-04</option>
    <option value=DB-05>DB-05</option>
    <option value=DB-06>DB-06</option>
    <option value=DB-07>DB-07</option>
    <option value=DB-08>DB-08</option>
    <option value=DB-09>DB-09</option>
    <option value=DB-10>DB-10</option>
    <option value=DB-11>DB-11</option>
    <option value=DB-12>DB-12</option>
    <option value=DB-13>DB-13</option>
    <option value=DB-14>DB-14</option>
    <option value=DB-15>DB-15</option>
    <option value=DB-16>DB-16</option>
    <option value=DB-17>DB-17</option>
    <option value=DB-18>DB-18</option>
    <option value=DB-19>DB-19</option>
    <option value=DC-01>DC-01</option>
    <option value=DC-02>DC-02</option>
    <option value=DC-03>DC-03</option>
    <option value=DC-04>DC-04</option>
    <option value=DC-05>DC-05</option>
    <option value=DC-06>DC-06</option>
    <option value=DC-07>DC-07</option>
    <option value=DC-08>DC-08</option>
    <option value=DC-09>DC-09</option>
    <option value=DC-10>DC-10</option>
    <option value=DC-11>DC-11</option>
    <option value=DC-12>DC-12</option>
    <option value=DC-13>DC-13</option>
    <option value=DC-14>DC-14</option>
    <option value=DC-15>DC-15</option>
    <option value=DC-16>DC-16</option>
    <option value=DC-17>DC-17</option>
    <option value=DC-18>DC-18</option>
    <option value=DC-19>DC-19</option>
    <option value=DD-01>DD-01</option>
    <option value=DD-02>DD-02</option>
    <option value=DD-03>DD-03</option>
    <option value=DD-04>DD-04</option>
    <option value=DD-08>DD-08</option>
    <option value=DD-09>DD-09</option>
    <option value=DD-10>DD-10</option>
    <option value=DD-11>DD-11</option>
    <option value=DD-12>DD-12</option>
    <option value=DD-13>DD-13</option>
    <option value=DD-14>DD-14</option>
    <option value=DD-15>DD-15</option>
    <option value=DD-16>DD-16</option>
    <option value=DD-17>DD-17</option>
    <option value=DD-18>DD-18</option>
    <option value=DD-19>DD-19</option>
    <option value=DE-09>DE-09</option>
    <option value=DE-10>DE-10</option>
    <option value=DE-11>DE-11</option>
    <option value=DE-12>DE-12</option>
    <option value=DE-13>DE-13</option>
    <option value=DE-14>DE-14</option>
    <option value=DE-15>DE-15</option>
    <option value=DE-16>DE-16</option>
    <option value=DE-17>DE-17</option>
    <option value=DE-18>DE-18</option>
    <option value=DE-19>DE-19</option>
    <option value=DF-01>DF-01</option>
    <option value=DF-02>DF-02</option>
    <option value=DF-03>DF-03</option>
    <option value=DF-04>DF-04</option>
    <option value=DF-05>DF-05</option>
    <option value=DF-06>DF-06</option>
    <option value=DF-07>DF-07</option>
    <option value=DF-08>DF-08</option>
    <option value=DF-09>DF-09</option>
    <option value=DF-10>DF-10</option>
    <option value=DF-11>DF-11</option>
    <option value=DF-12>DF-12</option>
    <option value=DF-13>DF-13</option>
    <option value=DF-14>DF-14</option>
    <option value=DF-15>DF-15</option>
    <option value=DF-16>DF-16</option>
    <option value=DF-17>DF-17</option>
    <option value=DF-18>DF-18</option>
    <option value=DF-19>DF-19</option>
    <option value=DG-01>DG-01</option>
    <option value=DG-02>DG-02</option>
    <option value=DG-03>DG-03</option>
    <option value=DG-04>DG-04</option>
    <option value=DG-05>DG-05</option>
    <option value=DG-06>DG-06</option>
    <option value=DG-07>DG-07</option>
    <option value=DG-08>DG-08</option>
    <option value=DG-09>DG-09</option>
    <option value=DG-10>DG-10</option>
    <option value=DG-11>DG-11</option>
    <option value=DG-12>DG-12</option>
    <option value=DG-13>DG-13</option>
    <option value=DG-14>DG-14</option>
    <option value=DG-15>DG-15</option>
    <option value=DG-16>DG-16</option>
    <option value=DG-17>DG-17</option>
    <option value=DG-18>DG-18</option>
    <option value=DG-19>DG-19</option>
    <option value=DH-01>DH-01</option>
    <option value=DH-02>DH-02</option>
    <option value=DH-03>DH-03</option>
    <option value=DH-04>DH-04</option>
    <option value=DH-08>DH-08</option>
    <option value=DH-09>DH-09</option>
    <option value=DH-10>DH-10</option>
    <option value=DH-11>DH-11</option>
    <option value=DH-12>DH-12</option>
    <option value=DH-13>DH-13</option>
    <option value=DH-14>DH-14</option>
    <option value=DH-15>DH-15</option>
    <option value=DH-16>DH-16</option>
    <option value=DH-17>DH-17</option>
    <option value=DH-18>DH-18</option>
    <option value=DH-19>DH-19</option>
    <option value=DI-01>DI-01</option>
    <option value=DI-02>DI-02</option>
    <option value=DI-03>DI-03</option>
    <option value=DI-04>DI-04</option>
    <option value=DI-08>DI-08</option>
    <option value=DI-09>DI-09</option>
    <option value=DI-10>DI-10</option>
    <option value=DI-11>DI-11</option>
    <option value=DI-12>DI-12</option>
    <option value=DI-13>DI-13</option>
    <option value=DI-14>DI-14</option>
    <option value=DI-15>DI-15</option>
    <option value=DI-16>DI-16</option>
    <option value=DI-17>DI-17</option>
    <option value=DI-18>DI-18</option>
    <option value=DI-19>DI-19</option>
    <option value=DJ-01>DJ-01</option>
    <option value=DJ-02>DJ-02</option>
    <option value=DJ-03>DJ-03</option>
    <option value=DJ-04>DJ-04</option>
    <option value=DJ-05>DJ-05</option>
    <option value=DJ-06>DJ-06</option>
    <option value=DJ-07>DJ-07</option>
    <option value=DJ-08>DJ-08</option>
    <option value=DJ-09>DJ-09</option>
    <option value=DJ-10>DJ-10</option>
    <option value=DJ-11>DJ-11</option>
    <option value=DJ-12>DJ-12</option>
    <option value=DJ-13>DJ-13</option>
    <option value=DJ-14>DJ-14</option>
    <option value=DJ-15>DJ-15</option>
    <option value=DJ-16>DJ-16</option>
    <option value=DJ-17>DJ-17</option>
    <option value=DJ-18>DJ-18</option>
    <option value=DJ-19>DJ-19</option>
    <option value=DK-01>DK-01</option>
    <option value=DK-02>DK-02</option>
    <option value=DK-03>DK-03</option>
    <option value=DK-04>DK-04</option>
    <option value=DK-05>DK-05</option>
    <option value=DK-06>DK-06</option>
    <option value=DK-07>DK-07</option>
    <option value=DK-08>DK-08</option>
    <option value=DK-09>DK-09</option>
    <option value=DK-10>DK-10</option>
    <option value=DK-11>DK-11</option>
    <option value=DK-12>DK-12</option>
    <option value=DK-13>DK-13</option>
    <option value=DK-14>DK-14</option>
    <option value=DK-15>DK-15</option>
    <option value=DK-16>DK-16</option>
    <option value=DK-17>DK-17</option>
    <option value=DK-18>DK-18</option>
    <option value=DK-19>DK-19</option>
    <option value=DL-01>DL-01</option>
    <option value=DL-02>DL-02</option>
    <option value=DL-03>DL-03</option>
    <option value=DL-04>DL-04</option>
    <option value=DL-05>DL-05</option>
    <option value=DL-06>DL-06</option>
    <option value=DL-07>DL-07</option>
    <option value=DL-08>DL-08</option>
    <option value=DL-09>DL-09</option>
    <option value=DL-10>DL-10</option>
    <option value=DL-11>DL-11</option>
    <option value=DL-12>DL-12</option>
    <option value=DL-13>DL-13</option>
    <option value=DL-14>DL-14</option>
    <option value=DL-15>DL-15</option>
    <option value=DL-16>DL-16</option>
    <option value=DL-17>DL-17</option>
    <option value=DL-18>DL-18</option>
    <option value=DL-19>DL-19</option>
    <option value=DM-09>DM-09</option>
    <option value=DM-12>DM-12</option>
    <option value=DM-13>DM-13</option>
    <option value=DM-14>DM-14</option>
    <option value=DM-19>DM-19</option>
    <option value=EA-01>EA-01</option>
    <option value=EA-02>EA-02</option>
    <option value=EA-03>EA-03</option>
    <option value=EA-04>EA-04</option>
    <option value=EA-05>EA-05</option>
    <option value=EA-06>EA-06</option>
    <option value=EA-07>EA-07</option>
    <option value=EA-08>EA-08</option>
    <option value=EA-09>EA-09</option>
    <option value=EA-10>EA-10</option>
    <option value=EA-11>EA-11</option>
    <option value=EA-12>EA-12</option>
    <option value=EA-13>EA-13</option>
    <option value=EA-15>EA-15</option>
    <option value=EA-16>EA-16</option>
    <option value=EA-17>EA-17</option>
    <option value=EB-01>EB-01</option>
    <option value=EB-02>EB-02</option>
    <option value=EB-03>EB-03</option>
    <option value=EB-04>EB-04</option>
    <option value=EB-05>EB-05</option>
    <option value=EB-06>EB-06</option>
    <option value=EB-08>EB-08</option>
    <option value=EB-09>EB-09</option>
    <option value=EB-10>EB-10</option>
    <option value=EB-12>EB-12</option>
    <option value=EB-13>EB-13</option>
    <option value=EB-14>EB-14</option>
    <option value=EB-15>EB-15</option>
    <option value=EB-16>EB-16</option>
    <option value=EB-17>EB-17</option>
    <option value=EC-01>EC-01</option>
    <option value=EC-02>EC-02</option>
    <option value=EC-03>EC-03</option>
    <option value=EC-04>EC-04</option>
    <option value=EC-05>EC-05</option>
    <option value=EC-06>EC-06</option>
    <option value=EC-07>EC-07</option>
    <option value=EC-08>EC-08</option>
    <option value=EC-09>EC-09</option>
    <option value=EC-10>EC-10</option>
    <option value=EC-11>EC-11</option>
    <option value=EC-12>EC-12</option>
    <option value=EC-13>EC-13</option>
    <option value=EC-14>EC-14</option>
    <option value=EC-15>EC-15</option>
    <option value=EC-16>EC-16</option>
    <option value=EC-17>EC-17</option>
    <option value=EC-18>EC-18</option>
    <option value=ED-01>ED-01</option>
    <option value=ED-02>ED-02</option>
    <option value=ED-03>ED-03</option>
    <option value=ED-04>ED-04</option>
    <option value=ED-05>ED-05</option>
    <option value=ED-06>ED-06</option>
    <option value=ED-07>ED-07</option>
    <option value=ED-08>ED-08</option>
    <option value=ED-10>ED-10</option>
    <option value=ED-11>ED-11</option>
    <option value=ED-13>ED-13</option>
    <option value=ED-14>ED-14</option>
    <option value=ED-16>ED-16</option>
    <option value=ED-17>ED-17</option>
    <option value=ED-18>ED-18</option>
    <option value=EE-02>EE-02</option>
    <option value=EE-03>EE-03</option>
    <option value=EE-04>EE-04</option>
    <option value=EE-05>EE-05</option>
    <option value=EE-06>EE-06</option>
    <option value=EE-07>EE-07</option>
    <option value=EE-08>EE-08</option>
    <option value=EE-09>EE-09</option>
    <option value=EE-10>EE-10</option>
    <option value=EE-15>EE-15</option>
    <option value=EE-16>EE-16</option>
    <option value=EE-17>EE-17</option>
    <option value=EE-18>EE-18</option>
    <option value=EE-19>EE-19</option>
    <option value=EF-04>EF-04</option>
    <option value=EF-05>EF-05</option>
    <option value=EF-06>EF-06</option>
    <option value=EF-07>EF-07</option>
    <option value=EF-08>EF-08</option>
    <option value=EF-09>EF-09</option>
    <option value=EF-10>EF-10</option>
    <option value=EF-11>EF-11</option>
    <option value=EF-12>EF-12</option>
    <option value=EF-13>EF-13</option>
    <option value=EF-14>EF-14</option>
    <option value=EF-15>EF-15</option>
    <option value=EF-16>EF-16</option>
    <option value=EF-17>EF-17</option>
    <option value=EF-18>EF-18</option>
    <option value=EF-19>EF-19</option>
    <option value=EH-17>EH-17</option>
    <option value=EH-18>EH-18</option>
    <option value=EH-19>EH-19</option>
    <option value=EH-20>EH-20</option>
    <option value=EH-21>EH-21</option>
    <option value=EI-02>EI-02</option>
    <option value=EI-03>EI-03</option>
    <option value=EI-12>EI-12</option>
    <option value=EI-17>EI-17</option>
    <option value=EI-18>EI-18</option>
    <option value=EI-19>EI-19</option>
    <option value=EI-20>EI-20</option>
    <option value=EI-21>EI-21</option>
    <option value=EJ-01>EJ-01</option>
    <option value=EJ-02>EJ-02</option>
    <option value=EK-01>EK-01</option>
    <option value=EL-02>EL-02</option>
    <option value=EL-03>EL-03</option>
    <option value=EL-04>EL-04</option>
    <option value=EL-08>EL-08</option>
    <option value=EL-09>EL-09</option>
    <option value=EL-10>EL-10</option>
    <option value=EL-11>EL-11</option>
    <option value=EL-23>EL-23</option>
    <option value=EL-24>EL-24</option>
    <option value=EM-25>EM-25</option>
    <option value=GA-08>GA-08</option>
    <option value=GA-09>GA-09</option>
    <option value=GA-10>GA-10</option>
    <option value=GA-11>GA-11</option>
    <option value=GA-12>GA-12</option>
    <option value=GA-13>GA-13</option>
    <option value=GA-14>GA-14</option>
    <option value=GA-15>GA-15</option>
    <option value=GA-16>GA-16</option>
    <option value=GA-17>GA-17</option>
    <option value=GA-18>GA-18</option>
    <option value=GA-19>GA-19</option>
    <option value=GB-08>GB-08</option>
    <option value=GB-09>GB-09</option>
    <option value=GB-10>GB-10</option>
    <option value=GB-11>GB-11</option>
    <option value=GB-12>GB-12</option>
    <option value=GB-13>GB-13</option>
    <option value=GB-14>GB-14</option>
    <option value=GB-15>GB-15</option>
    <option value=GB-16>GB-16</option>
    <option value=GB-17>GB-17</option>
    <option value=GB-18>GB-18</option>
    <option value=GC-15>GC-15</option>
    <option value=GC-16>GC-16</option>
    <option value=GC-17>GC-17</option>
    <option value=GC-18>GC-18</option>
    <option value=GC-19>GC-19</option>
    <option value=GD-02>GD-02</option>
    <option value=GD-03>GD-03</option>
    <option value=GD-10>GD-10</option>
    <option value=GD-11>GD-11</option>
    <option value=GD-12>GD-12</option>
    <option value=GD-14>GD-14</option>
    <option value=GD-15>GD-15</option>
    <option value=GD-16>GD-16</option>
    <option value=GD-17>GD-17</option>
    <option value=GD-18>GD-18</option>
    <option value=GD-19>GD-19</option>
    <option value=GD-20>GD-20</option>
    <option value=GE-05>GE-05</option>
    <option value=GE-06>GE-06</option>
    <option value=GE-07>GE-07</option>
    <option value=GE-08>GE-08</option>
    <option value=GE-09>GE-09</option>
    <option value=GE-10>GE-10</option>
    <option value=GE-11>GE-11</option>
    <option value=GE-12>GE-12</option>
    <option value=GE-13>GE-13</option>
    <option value=GE-14>GE-14</option>
    <option value=GE-15>GE-15</option>
    <option value=GE-16>GE-16</option>
    <option value=GE-17>GE-17</option>
    <option value=GE-18>GE-18</option>
    <option value=GE-19>GE-19</option>
    <option value=GF-11>GF-11</option>
    <option value=GF-12>GF-12</option>
    <option value=GF-13>GF-13</option>
    <option value=GF-14>GF-14</option>
    <option value=GF-15>GF-15</option>
    <option value=GF-16>GF-16</option>
    <option value=GF-17>GF-17</option>
    <option value=GF-19>GF-19</option>
    <option value=GG-01>GG-01</option>
    <option value=GG-02>GG-02</option>
    <option value=GG-03>GG-03</option>
    <option value=GG-04>GG-04</option>
    <option value=GG-05>GG-05</option>
    <option value=GG-06>GG-06</option>
    <option value=GG-07>GG-07</option>
    <option value=GG-08>GG-08</option>
    <option value=GG-09>GG-09</option>
    <option value=GG-10>GG-10</option>
    <option value=GG-11>GG-11</option>
    <option value=GG-12>GG-12</option>
    <option value=GG-13>GG-13</option>
    <option value=GG-14>GG-14</option>
    <option value=GG-15>GG-15</option>
    <option value=GG-16>GG-16</option>
    <option value=GG-17>GG-17</option>
    <option value=GG-18>GG-18</option>
    <option value=GG-19>GG-19</option>
    <option value=GG-20>GG-20</option>
    <option value=GH-01>GH-01</option>
    <option value=GH-02>GH-02</option>
    <option value=GH-03>GH-03</option>
    <option value=GH-04>GH-04</option>
    <option value=GH-09>GH-09</option>
    <option value=GH-10>GH-10</option>
    <option value=GH-11>GH-11</option>
    <option value=GH-12>GH-12</option>
    <option value=GH-13>GH-13</option>
    <option value=GH-14>GH-14</option>
    <option value=GH-15>GH-15</option>
    <option value=GH-16>GH-16</option>
    <option value=GH-17>GH-17</option>
    <option value=GH-18>GH-18</option>
    <option value=GH-19>GH-19</option>
    <option value=GH-20>GH-20</option>
    <option value=GI-01>GI-01</option>
    <option value=GI-02>GI-02</option>
    <option value=GI-03>GI-03</option>
    <option value=GI-04>GI-04</option>
    <option value=GI-05>GI-05</option>
    <option value=GJ-01>GJ-01</option>
    <option value=GJ-02>GJ-02</option>
    <option value=GJ-03>GJ-03</option>
    <option value=GJ-04>GJ-04</option>
    <option value=GJ-05>GJ-05</option>
    <option value=GJ-06>GJ-06</option>
    <option value=GJ-07>GJ-07</option>
    <option value=GJ-08>GJ-08</option>
    <option value=GK-01>GK-01</option>
    <option value=GK-02>GK-02</option>
    <option value=GK-03>GK-03</option>
    <option value=GK-04>GK-04</option>
    <option value=GK-05>GK-05</option>
    <option value=GK-06>GK-06</option>
    <option value=GK-07>GK-07</option>
    <option value=GK-08>GK-08</option>
    <option value=GK-09>GK-09</option>
    <option value=GK-10>GK-10</option>
    <option value=GK-11>GK-11</option>
    <option value=GK-12>GK-12</option>
    <option value=GK-13>GK-13</option>
    <option value=GK-14>GK-14</option>
    <option value=GK-15>GK-15</option>
    <option value=GK-16>GK-16</option>
    <option value=GK-17>GK-17</option>
    <option value=GK-18>GK-18</option>
    <option value=GK-19>GK-19</option>
    <option value=GK-20>GK-20</option>
    <option value=GL-01>GL-01</option>
    <option value=GL-02>GL-02</option>
    <option value=GL-03>GL-03</option>
    <option value=GL-04>GL-04</option>
    <option value=GL-09>GL-09</option>
    <option value=GL-10>GL-10</option>
    <option value=GL-11>GL-11</option>
    <option value=GL-12>GL-12</option>
    <option value=GL-13>GL-13</option>
    <option value=GL-14>GL-14</option>
    <option value=GL-15>GL-15</option>
    <option value=GL-16>GL-16</option>
    <option value=GL-17>GL-17</option>
    <option value=GL-18>GL-18</option>
    <option value=GL-19>GL-19</option>
    <option value=AC-06>AC-06</option>
    <option value=AC-07>AC-07</option>
    <option value=AC-08>AC-08</option>
    <option value=AC-09>AC-09</option>
    <option value=AD-01>AD-01</option>
    <option value=AD-02>AD-02</option>
    <option value=AD-06>AD-06</option>
    <option value=AD-07>AD-07</option>
    <option value=AD-08>AD-08</option>
    <option value=AD-09>AD-09</option>
    <option value=AD-13>AD-13</option>
    <option value=AD-14>AD-14</option>
    <option value=AD-15>AD-15</option>
    <option value=AD-16>AD-16</option>
    <option value=AD-17>AD-17</option>
    <option value=AD-18>AD-18</option>
    <option value=AD-19>AD-19</option>
    <option value=AD-20>AD-20</option>
    <option value=AE-01>AE-01</option>
    <option value=AE-02>AE-02</option>
    <option value=AE-03>AE-03</option>
    <option value=AE-04>AE-04</option>
    <option value=AE-05>AE-05</option>
    <option value=AE-06>AE-06</option>
    <option value=AE-07>AE-07</option>
    <option value=AE-08>AE-08</option>
    <option value=AE-09>AE-09</option>
    <option value=AE-13>AE-13</option>
    <option value=AE-14>AE-14</option>
    <option value=AE-15>AE-15</option>
    <option value=AE-16>AE-16</option>
    <option value=AE-17>AE-17</option>
    <option value=AE-18>AE-18</option>
    <option value=AE-19>AE-19</option>
    <option value=AE-20>AE-20</option>
    <option value=AE-21>AE-21</option>
    <option value=AE-22>AE-22</option>
    <option value=AE-23>AE-23</option>
    <option value=AE-24>AE-24</option>
    <option value=AE-25>AE-25</option>
    <option value=AE-26>AE-26</option>
    <option value=AF-01>AF-01</option>
    <option value=AF-02>AF-02</option>
    <option value=AF-03>AF-03</option>
    <option value=AF-04>AF-04</option>
    <option value=AF-05>AF-05</option>
    <option value=AF-06>AF-06</option>
    <option value=AF-07>AF-07</option>
    <option value=AF-08>AF-08</option>
    <option value=AF-09>AF-09</option>
    <option value=AG-01>AG-01</option>
    <option value=AG-02>AG-02</option>
    <option value=AG-03>AG-03</option>
    <option value=AG-04>AG-04</option>
    <option value=AG-05>AG-05</option>
    <option value=AG-06>AG-06</option>
    <option value=AG-07>AG-07</option>
    <option value=AG-08>AG-08</option>
    <option value=AG-09>AG-09</option>
    <option value=AG-10>AG-10</option>
    <option value=AG-11>AG-11</option>
    <option value=AG-12>AG-12</option>
    <option value=AG-13>AG-13</option>
    <option value=AG-14>AG-14</option>
    <option value=AG-15>AG-15</option>
    <option value=AG-16>AG-16</option>
    <option value=AG-24>AG-24</option>
    <option value=AG-25>AG-25</option>
    <option value=AG-26>AG-26</option>
    <option value=AH-06>AH-06</option>
    <option value=AH-07>AH-07</option>
    <option value=AH-08>AH-08</option>
    <option value=AH-09>AH-09</option>
    <option value=AH-10>AH-10</option>
    <option value=AH-11>AH-11</option>
    <option value=AH-12>AH-12</option>
    <option value=AH-13>AH-13</option>
    <option value=AH-14>AH-14</option>
    <option value=AH-15>AH-15</option>
    <option value=AH-16>AH-16</option>
    <option value=AI-06>AI-06</option>
    <option value=AI-07>AI-07</option>
    <option value=AI-08>AI-08</option>
    <option value=AI-09>AI-09</option>
    <option value=AI-10>AI-10</option>
    <option value=AI-11>AI-11</option>
    <option value=AI-12>AI-12</option>
    <option value=AI-13>AI-13</option>
    <option value=AI-14>AI-14</option>
    <option value=AI-15>AI-15</option>
    <option value=AI-16>AI-16</option>
    <option value=AI-17>AI-17</option>
    <option value=AI-18>AI-18</option>
    <option value=AI-19>AI-19</option>
    <option value=AI-20>AI-20</option>
    <option value=AJ-01>AJ-01</option>
    <option value=AJ-02>AJ-02</option>
    <option value=AJ-03>AJ-03</option>
    <option value=AJ-04>AJ-04</option>
    <option value=AJ-05>AJ-05</option>
    <option value=AJ-06>AJ-06</option>
    <option value=AJ-07>AJ-07</option>
    <option value=AJ-08>AJ-08</option>
    <option value=AJ-09>AJ-09</option>
    <option value=AJ-10>AJ-10</option>
    <option value=AJ-11>AJ-11</option>
    <option value=AJ-12>AJ-12</option>
    <option value=AJ-13>AJ-13</option>
    <option value=AJ-14>AJ-14</option>
    <option value=AJ-15>AJ-15</option>
    <option value=AJ-16>AJ-16</option>
    <option value=AJ-17>AJ-17</option>
    <option value=AJ-18>AJ-18</option>
    <option value=AJ-19>AJ-19</option>
    <option value=AJ-20>AJ-20</option>
    <option value=AJ-21>AJ-21</option>
    <option value=AJ-22>AJ-22</option>
    <option value=AJ-23>AJ-23</option>
    <option value=AJ-24>AJ-24</option>
    <option value=AJ-25>AJ-25</option>
    <option value=AJ-26>AJ-26</option>
    <option value=AK-01>AK-01</option>
    <option value=AK-02>AK-02</option>
    <option value=AK-03>AK-03</option>
    <option value=AK-04>AK-04</option>
    <option value=AK-05>AK-05</option>
    <option value=AK-06>AK-06</option>
    <option value=AK-07>AK-07</option>
    <option value=AK-08>AK-08</option>
    <option value=AK-09>AK-09</option>
    <option value=AK-10>AK-10</option>
    <option value=AK-11>AK-11</option>
    <option value=AK-12>AK-12</option>
    <option value=AK-13>AK-13</option>
    <option value=AK-14>AK-14</option>
    <option value=AK-15>AK-15</option>
    <option value=AK-16>AK-16</option>
    <option value=AK-17>AK-17</option>
    <option value=AK-18>AK-18</option>
    <option value=AK-19>AK-19</option>
    <option value=AK-20>AK-20</option>
    <option value=AK-21>AK-21</option>
    <option value=AK-22>AK-22</option>
    <option value=AK-23>AK-23</option>
    <option value=AK-24>AK-24</option>
    <option value=AK-25>AK-25</option>
    <option value=AK-26>AK-26</option>
    <option value=AL-01>AL-01</option>
    <option value=AL-02>AL-02</option>
    <option value=AL-03>AL-03</option>
    <option value=AL-04>AL-04</option>
    <option value=AL-05>AL-05</option>
    <option value=AL-06>AL-06</option>
    <option value=AL-07>AL-07</option>
    <option value=AL-08>AL-08</option>
    <option value=AL-09>AL-09</option>
    <option value=AL-10>AL-10</option>
    <option value=AL-11>AL-11</option>
    <option value=AL-12>AL-12</option>
    <option value=AL-13>AL-13</option>
    <option value=AL-14>AL-14</option>
    <option value=AL-15>AL-15</option>
    <option value=AL-16>AL-16</option>
    <option value=AL-17>AL-17</option>
    <option value=AL-18>AL-18</option>
    <option value=AL-19>AL-19</option>
    <option value=AL-20>AL-20</option>
    <option value=AL-21>AL-21</option>
    <option value=AL-22>AL-22</option>
    <option value=AL-23>AL-23</option>
    <option value=AL-24>AL-24</option>
    <option value=AL-25>AL-25</option>
    <option value=AL-26>AL-26</option>
    <option value=AM-01>AM-01</option>
    <option value=AM-02>AM-02</option>
    <option value=AM-03>AM-03</option>
    <option value=AM-04>AM-04</option>
    <option value=AM-05>AM-05</option>
    <option value=AM-06>AM-06</option>
    <option value=AM-07>AM-07</option>
    <option value=AM-08>AM-08</option>
    <option value=AM-09>AM-09</option>
    <option value=AM-10>AM-10</option>
    <option value=AM-11>AM-11</option>
    <option value=AM-12>AM-12</option>
    <option value=AM-13>AM-13</option>
    <option value=AM-14>AM-14</option>
    <option value=AM-15>AM-15</option>
    <option value=AM-16>AM-16</option>
    <option value=AM-17>AM-17</option>
    <option value=AM-18>AM-18</option>
    <option value=AM-19>AM-19</option>
    <option value=AM-20>AM-20</option>
 </select>
    </td></tr>
<tr><td class=text3><b>Search by Customers</b></td>
    <td class=text3 align=center>
      <select name=showdept class=elem1>
        <option value="" selected>Select Customer ... </option>
      <option value="001">PCCW Network</option>
      <option value="001">HKBN Network</option>
      <option value="001">HCG Network</option>
      <option value="001">SMT Network</option>
      <option value="001">CPC Network</option>
      <option value="001">CMHK Network</option>
      <option value="001">Amazon Web Services (AWS)</option>
      </select>
    </td></tr>
<tr><td class=text3 align=center colspan=2>
      <input type=reset class=button2 value="Clear">
      <input type=submit name=show class=button2 value="Search!">
    </td></tr>
</table>
</form>
</center>
</body>
</html>
{% endblock %}