{% extends "index_base.html" %}


{% block content %}


<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor=white>
<section><center>

<!-- Top Table: Logo, title and buttons -->
    <tr>
      <td align=center valign="center"><table border=0 cellspacing=1 cellpadding=0><tr>
        <td class=button1><a href="comall"> &nbsp; View All Company &nbsp;</a></td>
        <td width=10>&nbsp;</td>
        <td class=button1><a href="comsearch"> &nbsp; Search  Company &nbsp; </a></td>
        </tr></table>
      </td>
    </tr>
    <p></p><p></p>
<!-- End Top Table -->
<br>
<center>
<table border="1" cellpadding="5" cellspacing="5">
      <tr align=center><td class=text4 colspan=9><b>Customer Information</b></td></tr>
    <tr>
          <td width=4% align=center><b>Name</b></td>
          <td width=4% align=center><b>GID</b></td>
          <td width=4% align=center><b>Start date</b></td>
          <td width=4% align=center><b>End date</b></td>
    </tr>
    {% for row in result %}
    <tr>
    {% for d in row %}
    <td width=4% align=center>{{d}}</td>
    {% endfor %}
    </tr>
    {% endfor %}
    </table>

</table>
</form>
</center>
</section>
</body>
</html>

{% endblock %}