{% extends "index_base.html" %}
{% block content %}

<html>
 
<body>
  <section><center>
    <table border="1" cellpadding="5" cellspacing="5">
      <tr align=center><td class=text4 colspan=9><b>Customer Information</b></td></tr>
    <tr>
          <td width=4% align=center><b>company</b></td>
          <td width=4% align=center><b>Name</b></td>
          <td width=4% align=center><b>HKID</b></td>
          <td width=4% align=center><b>Phone</b></td>
    </tr>
    {% for row in result %}
    <tr>
    {% for d in row %}
    <td width=4% align=center>{{d}}</td>
    {% endfor %}
    </tr>
    {% endfor %}
    </table>

</table>
</center>
</section>
</body>
</html>

{% endblock %}