{% extends "index_base.html" %}
{% block content %}

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor=white>
<!-- Top Table: Logo, title and buttons -->

<!-- End Top Table -->
<br>
<center>


<p class=text1><b>Click <u>In</u> to add a visit record.</b></p><table border=1 cellspacing=0 cellpadding=4 width=95%>
<tr align=center><td class=text4 colspan=8><b>Today Guest Information</b></td></tr>
<tr align=left>
  <td class=title4 width=5%><b>IDC</b></td>
  <td class=title4 width=10%><b>Entrance Time</b></td>
  <td class=title4 width=10%><b>Exit Time</b></td>
  <td class=title4 width=20%><b>Customers</b></td>
  <td class=title4 width=15%><b>Name</b></td>
  <td class=title4 width=5%><b>HKID/Staff#</b></td>
  <td class=title4 width=25%><b>Remark</b></td>
  <td class=title4 width=5% align=center><b>In</b></td>
</tr>
<tr align=left>
  <td class=text4 align=left>HKT</td>
  <td class=text4 align=left>2020-10-21 00:00:00</td>
  <td class=text4 align=left>2020-11-20 23:59:00</td>
  <td class=text4 align=left>PCCM Network</td>
  <td class=text4 align=left>Alex</td>
  <td class=text4 align=left>A111</td>
  <td class=text4 align=left></td>
  <td class=text4 align=center><b><a href="/idc/visit.php?submit=1&place=HKT&company2=Good Company&name=Leung Wai Pong&hkid=Z295&purpose=Maintenance" ><u>In</u></a></b></td>
</tr>
<tr align=left>
  <td class=text3 align=left>HKT</td>
  <td class=text3 align=left>2020-10-22 00:00:00</td>
  <td class=text3 align=left>2020-11-21 23:59:00</td>
  <td class=text3 align=left>SNT Network</td>
  <td class=text3 align=left>Heiry</td>
  <td class=text3 align=left>B111</td>
  <td class=text3 align=left></td>
  <td class=text3 align=center><b><a href="/idc/visit.php?submit=1&place=HKT&company2=Good Company&name=Lui Wing Sang&hkid=G103&purpose=Maintenance" ><u>In</u></a></b></td>
</tr>
<tr align=left>
  <td class=text4 align=left>HKT</td>
  <td class=text4 align=left>2020-10-23 00:00:00</td>
  <td class=text4 align=left>2020-11-22 23:59:00</td>
  <td class=text4 align=left>HKBB Network</td>
  <td class=text4 align=left>Raphael</td>
  <td class=text4 align=left>C111</td>
  <td class=text4 align=left></td>
  <td class=text4 align=center><b><a href="/idc/visit.php?submit=1&place=HKT&company2=Good Company&name=Law Hon Man&hkid=D102&purpose=Maintenance" ><u>In</u></a></b></td>
</tr>
<tr align=left>
  <td class=text4 align=left>HKT</td>
  <td class=text4 align=left>2020-10-24 00:00:00</td>
  <td class=text4 align=left>2020-11-23 23:59:00</td>
  <td class=text4 align=left>HGG Network</td>
  <td class=text4 align=left>Atson</td>
  <td class=text4 align=left>D111</td>
  <td class=text4 align=left></td>
  <td class=text4 align=center><b><a href="/idc/visit.php?submit=1&place=HKT&company2=Good Company&name=Law Hon Man&hkid=D102&purpose=Maintenance" ><u>In</u></a></b></td>
</tr>

</table>

 <input type=button onClick="parent.location='../access'" value='Search!'>
</center>
</body>


{% endblock %}